.contact {
  width: 80%;
  margin: 10px;
  margin-left: 10.5%;
  margin-right: 15px;
  padding: 13px;
  text-align: left;
  align-self: center;
  min-height: 200px;
}

.funnel {
  width: 300px;
  height: 100px;
  border: 1px solid blue;
}
